/dist/
/lib/
/node_modules/
/.vscode

/inwasm/node_modules/
/inwasm/lib
/inwasm/dist
/inwasm/emsdk
/inwasm/inwasm-sdks

/testproject/node_modules/
/testproject/lib
/testproject/dist
/testproject/inwasm-sdks
/testproject/inwasm-builds
