/dist/
/lib/
/node_modules/
/.vscode

# to be removed
/zig

/inwasm/node_modules/
/inwasm/lib
/inwasm/dist
/inwasm/emsdk

/testproject/node_modules/
/testproject/lib
/testproject/dist
/testproject/inwasm-builds
/testproject/wasm/*.wasm
