# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: rustup target add wasm32-unknown-unknown
    - run: cd inwasm && npm install
    - name: inwasm type tests
      run: cd inwasm && npm run test-types
    
    - name: generate tgz
      run: cd inwasm && npm run tgz

    - run: cd testproject && npm install
    - run: cd testproject && npm run inwasm # should re-run custom runner
    - name: Run testproject tests
      run: cd testproject && npm test

    - run: cd testproject-esm && npm install
    - run: cd testproject-esm && npm run inwasm # should re-run custom runner
    - name: Run testproject-esm tests
      run: cd testproject-esm && npm test

    - name: Test watch mode on testproject
      run: |
        set -e
        cd testproject
        npm run clean
        npm run tsc
        npm run test-watch &
        WATCH_PID=$!
        sleep 30
        kill $WATCH_PID
        wait $WATCH_PID
    - name: Run tests after watch on testproject
      run: cd testproject && npm test-watch-test

    - name: Test watch mode on testproject-esm
      run: |
        set -e
        cd testproject-esm
        npm run test-watch &
        WATCH_PID=$!
        sleep 5
        npm run tsc
        sleep 10
        kill $WATCH_PID
        wait $WATCH_PID
    - name: Run tests after watch on testproject-esm
      run: cd testproject-esm && npm test-watch-test


  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: rustup target add wasm32-unknown-unknown
    - run: cd inwasm && npm install
    - name: inwasm type tests
      run: cd inwasm && npm run test-types

    - name: generate tgz
      run: cd inwasm && npm run tgz

    - run: cd testproject && npm install
    - run: cd testproject && npm run inwasm # should re-run custom runner
    - name: Run testproject tests
      run: cd testproject && npm test

    - run: cd testproject-esm && npm install
    - run: cd testproject-esm && npm run inwasm # should re-run custom runner
    - name: Run testproject-esm tests
      run: cd testproject-esm && npm test


  windows:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: rustup target add wasm32-unknown-unknown
    - run: cd inwasm && npm install
    - name: inwasm type tests
      run: cd inwasm && npm run test-types

    - name: generate tgz
      run: cd inwasm && npm run tgz

    - run: cd testproject && npm install
    - run: cd testproject && npm run inwasm # should re-run custom runner
    - name: Run testproject tests
      run: cd testproject && npm test

    - run: cd testproject-esm && npm install
    - run: cd testproject-esm && npm run inwasm # should re-run custom runner
    - name: Run testproject-esm tests
      run: cd testproject-esm && npm test
